#estilo{
    color: chocolate ;
    text-align: center;
    font-family: "Latin Modern Roman 10";
        font-style: oblique;
}
#mm{
    color: rgb(16, 95, 6);
    text-align: center;
}
#texto{
    color: rgb(35, 13, 163);
    text-align: center;
    font-family: "Latin Modern Roman 10";
        font-style: oblique;
}